:root {
	--teste1: #00c8f5;
	--teste2: #1fbcff;
	--teste3: #4797ff;
	--teste4: #0d7bf8;
	--primaryColor: #3784e9;
}

/* header */

.linkMenu {
	color: var(--primaryColor);
	padding-bottom: 10px;
	border-color: whitesmoke;
	border-style: none none solid none;
	border-color: rgb(248, 249, 250);
}

.linkMenu:hover {
	color: var(--primaryColor);
	border-style: none none solid none;
	border-color: var(--primaryColor);
}

/* header */

/*Home*/
#containerPrincipalBTN {
	background-image: url(../img/backgrounds/logoBackground.jpg);
	margin: 0;
	background-size: cover;
}

#containerBTN {
	padding: 15px 0 20px;
}

#tituloPrincipalHome {
	color: var(--teste3);
	text-align: center;
	margin-bottom: 20px;
	animation-name: h1BottomCenter;
	animation-duration: 2s;
}

/* Animation */
@keyframes h1BottomCenter {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}

/* Animation */

/*Home*/

/* PersonagemHome */
#vivi {
	position: relative;
	margin: -80px 0px 20px 40px;
	height: 250px;
	float: left;
}
/* PersonagemHome */

/* buttons */
.blue {
	color: var(--teste3);
	border-color: var(--teste3);
}

.animationButton .blue {
	animation-name: buttonCenter;
	animation-duration: 2s;
}

.blue:hover {
	background-color: var(--teste3);
	color: white;
}

.blue:focus {
	box-shadow: 0 0 1em var(--teste3);
	border-color: white;
	color: var(--teste3);
}

/* Animation */

@keyframes buttonCenter {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

/* Animation */
/* buttons */

.personagemCadastrarPerfil {
	display: flex;
	justify-content: end;
	padding: 1rem;
	align-items: center;
}

.personagemCadastrarPerfil img {
	width: 14rem;
	border-radius: 5px;
}

.formCadastrarPerfil {
	justify-content: end;
	align-items: center;
	flex-direction: column;
}
#tituloCadastrarPerfil {
	text-align: center;
	padding: 1rem;
	color: var(--teste3);
}
