:root {
	--teste1: #00c8f5;
	--teste2: #1fbcff;
	--teste3: #4797ff;
	--teste4: #0d7bf8;
	--primaryColor: #3784e9;
}

.tituloFormat {
	text-align: center;
	padding: 1rem;
	color: var(--teste3);
}

/* header */

.linkMenu {
	color: var(--primaryColor);
	padding-bottom: 10px;
	border-color: whitesmoke;
	border-style: none none solid none;
	border-color: rgb(248, 249, 250);
}

.linkMenu:hover {
	color: var(--primaryColor);
	border-style: none none solid none;
	border-color: var(--primaryColor);
}

/* header */

/*Index*/
#containerPrincipalBTN {
	background-image: url(../img/backgrounds/logoBackground.jpg);
	margin: 0;
	background-size: cover;
}

#containerBTN {
	padding: 15px 0 20px;
}

#tituloPrincipalHome {
	color: var(--teste3);
	text-align: center;
	margin-bottom: 20px;
	animation-name: h1BottomCenter;
	animation-duration: 2s;
	font-size: 2rem;
}

.inputsHome {
	display: flex;
	align-items: center;
}

/* Animation */
@keyframes h1BottomCenter {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}
/* Animation */

/*Index*/

/* PersonagemHome */
#vivi {
	position: relative;
	margin: -80px 0px 20px 40px;
	height: 250px;
	float: left;
}
/* PersonagemHome */

/* buttons */
.blue {
	color: var(--teste3);
	border-color: var(--teste3);
}

.animationButton .blue {
	animation-name: buttonCenter;
	animation-duration: 2s;
}

.blue:hover {
	background-color: var(--teste3);
	color: white;
}

.blue:focus {
	box-shadow: 0 0 1em var(--teste3);
	border-color: white;
	color: var(--teste3);
}

/* Animation */

@keyframes buttonCenter {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

/* Animation */
/* buttons */
@media (max-width: 991px) {
	#personagemCol {
		display: none;
	}
}
.personagemCadastrarPerfil {
	display: flex;
	justify-content: end;
	padding: 1rem;
	align-items: center;
}

.personagemCadastrarPerfil img {
	width: 14rem;
	border-radius: 5px;
}

.formRegistrarPerfil {
	justify-content: end;
	align-items: center;
	flex-direction: column;
}

/* timeline */

.perfil {
	border: 1px solid #e6ecf0;
	background: #fff;
	position: relative;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}

.perfilTopo {
	height: 95px;
	background-color: var(--teste3);
}

.perfilPainel {
	padding-right: 10px;
	padding-left: 10px;
}

.perfilPainelNome {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

.perfilPainelItem {
	color: #657786;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 16px;
	overflow: hidden;
	transition: color 0.15s ease-in-out;
}

.perfilPainelItemValor {
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding-top: 3px;
	transition: color 0.15s;
	color: var(--teste3) !important;
}

.comentarioBox {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border: 1px solid #e6ecf0;
	background-color: #e8f5fd;
	padding: 25px;
}

.quemSeguir {
	border: 1px solid #e6ecf0;
	background: #fff;
	position: relative;
	margin-bottom: 10px;
	display: block;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.quemSeguirTitulo {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

.quemSeguirTxt,
.quemSeguirTxt:hover {
	color: #1da1f2;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
}

.comentario {
	padding: 15px;
	border-bottom: 1px solid #e6ecf0;
	cursor: pointer;
}

.comentario:hover {
	background-color: #f5f8fa;
}
/* timeline */
